<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Dashboard - NiceAdmin Bootstrap Template</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="~/admin/assets/img/favicon.png" rel="icon">
    <link href="~/admin/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="~/admin/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/admin/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="~/admin/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="~/admin/assets/vendor/quill/quill.snow.css" rel="stylesheet">
    <link href="~/admin/assets/vendor/quill/quill.bubble.css" rel="stylesheet">
    <link href="~/admin/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="~/admin/assets/vendor/simple-datatables/style.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- Template Main CSS File -->
    <link href="~/admin/assets/css/style.css" rel="stylesheet">

    <!-- =======================================================
    * Template Name: NiceAdmin
    * Template URL: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/
    * Updated: Apr 20 2024 with Bootstrap v5.3.3
    * Author: BootstrapMade.com
    * License: https://bootstrapmade.com/license/
    ======================================================== -->
</head>
<style>
    .header {
        transition: all 0.5s;
        z-index: 997;
        height: 60px;
        box-shadow: 0px 2px 20px rgba(1, 41, 112, 0.1);
        /* background-color: #fff; */
        background-color: black;
        padding-left: 20px;
        /* Toggle Sidebar Button */
        /* Search Bar */
    }

    .logo span {
        font-size: 26px;
        font-weight: 700;
        color: white;
        font-family: "Nunito", sans-serif;
    }
    .sidebar-nav .nav-link.collapsed {
       /*  color: #012970; */
        /* background: #ff0000; */
        background: transparent;
        color: white;
    }

        .sidebar-nav .nav-link.collapsed i {
            color: #899bbd;
        }

    .sidebar-nav .nav-link:hover {
        color: black;
        background: #f6f9ff;
    }
</style>
<body>
    <header id="header" class="header fixed-top d-flex align-items-center">

        <div class="d-flex align-items-center justify-content-between">
            <a href="index.html" class="logo d-flex align-items-center">
                <img src="assets/img/logo.png" alt="">
                <span class="d-none d-lg-block">NiceAdmin</span>
            </a>
            <i class="bi bi-list toggle-sidebar-btn" style="color:white"></i>
        </div><!-- End Logo -->

        <div class="search-bar">
            <form class="search-form d-flex align-items-center" method="POST" action="#">
                <input type="text" name="query" placeholder="Search" title="Enter search keyword">
                <button type="submit" title="Search"><i class="bi bi-search"></i></button>
            </form>
        </div><!-- End Search Bar -->

        <nav class="header-nav ms-auto">
            <ul class="d-flex align-items-center">

                <li class="nav-item d-block d-lg-none">
                    <a class="nav-link nav-icon search-bar-toggle " href="#">
                        <i class="bi bi-search"></i>
                    </a>
                </li><!-- End Search Icon-->




                <li class="nav-item dropdown pe-3">

                    <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
                        <img src="~/admin/assets/img/profile-img.jpg" alt="Profile" class="rounded-circle">
                        <span class="d-none d-md-block dropdown-toggle ps-2" style="color:white">Hafiz Ahmed</span>
                    </a><!-- End Profile Iamge Icon -->

                    <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
                        <li class="dropdown-header">
                            <h6>Hafiz Ahmed</h6>
                            <span>Asp.Net Core Developer</span>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>

                        <li>
                            <a class="dropdown-item d-flex align-items-center" href="@Url.Action("Profile","admin")">
                                <i class="bi bi-person"></i>
                                <span>My Profile</span>
                            </a>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>


                        <li>
                            <hr class="dropdown-divider">
                        </li>

                        <li>

                            <a class="dropdown-item d-flex align-items-center" href="@Url.Action("logout","admin")">
                                <i class="bi bi-box-arrow-right"></i>
                                <span>Sign Out</span>
                            </a>
                        </li>

                    </ul><!-- End Profile Dropdown Items -->
                </li><!-- End Profile Nav -->

            </ul>
        </nav><!-- End Icons Navigation -->

    </header><!-- End Header -->
    <!-- ======= Sidebar ======= -->
    <aside id="sidebar" class="sidebar" style="background-color: black;">

        <ul class="sidebar-nav" id="sidebar-nav">

          @*   <li class="nav-item">
                <a class="nav-link collapsed" href="@Url.Action("Index","admin")"
                    <i class="bi bi-menu-button-wide"></i>
                    <span>Dashboard</span>
                </a>
            </li> *@<!-- End Dashboard Nav -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="@Url.Action("Index","admin")">
                    <i class="bi bi-grid"></i><span>Dashboard</span>

                </a>

            </li><!-- End Components Nav -->

            <li class="nav-item">
                <a class="nav-link collapsed" href="@Url.Action("FamousFlavorFetch","admin")">
                     <i class="bi bi-menu-button-wide"></i><span>Famous Flavors</span>
                   
                </a>

            </li><!-- End Components Nav -->

            <li class="nav-item">
                <a href="@Url.Action("BooksFecth","Admin")" class="nav-link collapsed">
                    <i class="bi bi-journal-text"></i><span>Books</span>
                </a>

            </li><!-- End Forms Nav -->

            <li class="nav-item">
                <a class="nav-link collapsed" href="@Url.Action("Orders","Admin")">
                    <i class="bi bi-layout-text-window-reverse"></i><span>Orders</span></i>
                </a>

            </li><!-- End Tables Nav -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="@Url.Action("Contact","Admin")">
                    <i class="bi bi-envelope"></i>
                    <span>Contact Us</span>
                </a>
            </li><!-- End Contact Page Nav -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="@Url.Action("Feedback","Admin")">
                    <i class="fa-solid fa-comment"></i>
                    <span>Feedbacks</span>
                </a>
            </li><!-- End Contact Page Nav -->

        @*     <li class="nav-item">
                <a class="nav-link collapsed" data-bs-target="#charts-nav" data-bs-toggle="collapse" href="#">
                    <i class="bi bi-bar-chart"></i><span>Charts</span>
                </a>

            </li> *@<!-- End Charts Nav -->

             <li class="nav-item">
                <a class="nav-link collapsed" href="@Url.Action("Register","Admin")" " href="#">
                    <i class="bi bi-gem"></i><span>Register User</span>
                </a>

            </li> <!-- End Icons Nav -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="@Url.Action("FAQitems", "Admin")">
                    <i class="bi bi-question-circle"></i>
                    <span>F.A.Q </span>
                </a>
            </li><!-- End F.A.Q Page Nav -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="@Url.Action("Recipe", "Admin")">
                    <i class="fa-solid fa-ice-cream"></i>
                    <span>Free Recipe</span>
                </a>
            </li><!-- End F.A.Q Page Nav -->
            <li class="nav-item">
                <a class="nav-link collapsed" >
                    <i class="bi bi-person"></i>
                    <span>Profile</span>
                </a>
            </li><!-- End Profile Page Nav -->
           @*  <li class="nav-heading">Pages</li> *@
            
            <li class="nav-item">
                <a class="nav-link collapsed" href="@Url.Action("logout", "Admin")">
                    <i class="bi bi-box-arrow-in-right"></i>
                    <span>Logout</span>
                </a>
            </li><!-- End Login Page Nav -->

        </ul>

    </aside><!-- End Sidebar-->

    <main id="main" class="main">

        <div class="pagetitle">
            <h1>Dashboard</h1>
            <nav>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                    <li class="breadcrumb-item active">Dashboard</li>

                </ol>
            </nav>
        </div><!-- End Page Title -->

        <div>
            @RenderBody()
        </div>
        </main>

        <!-- ======= Footer ======= -->
        <footer id="footer" class="footer">
            <div class="copyright">
                &copy; Copyright <strong><span>NiceAdmin</span></strong>. All Rights Reserved
            </div>
            <div class="credits">
                <!-- All the links in the footer should remain intact. -->
                <!-- You can delete the links only if you purchased the pro version. -->
                <!-- Licensing information: https://bootstrapmade.com/license/ -->
                <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/ -->
                Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
            </div>
        </footer><!-- End Footer -->

        <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

        <!-- Vendor JS Files -->
        <script src="~/admin/assets/vendor/apexcharts/apexcharts.min.js"></script>
        <script src="~/admin/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
        <script src="~/admin/assets/vendor/chart.js/chart.umd.js"></script>
        <script src="~/admin/assets/vendor/echarts/echarts.min.js"></script>
        <script src="~/admin/assets/vendor/quill/quill.js"></script>
        <script src="~/admin/assets/vendor/simple-datatables/simple-datatables.js"></script>
        <script src="~/admin/assets/vendor/tinymce/tinymce.min.js"></script>
        <script src="~/admin/assets/vendor/php-email-form/validate.js"></script>

        <!-- Template Main JS File -->
        <script src="~/admin/assets/js/main.js"></script>

</body>
</html>